* {
    box-sizing: border-box;
}

body {
    margin: 100px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url(../images/Football\ Field.webp);
    background-size: cover;
    max-width: 1000px;
    margin: 80px auto;
    display: inline-block;
    width: 1000px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}   
.hero-content {
    color: red;
    text-align: center;

}

.centered-hero-2 {
    color: white;
    text-align: center;

}

#side-hero .hero-content {
    color: black;
}

.hero-content h1 {
    font-size: 72px;
}

.hero-content h3 {
    font-size: 36px;
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}

.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.background{
    background: red;
    color: white;
    padding: 24px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}

