* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    margin: 36px auto;
}
#main-content {
    background-color: lightgreen;
    flex: 1;
}
#sidebar-content {
    /* background-color: lightblue; */
    /* flex: 1; */
    width: 200px;
    order: 2;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: darkslategray;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 16px;
}

#sidebar-content ul {
    background-color: #efefef;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid darkslategray;
    flex: 1;
}

#sidebar-content a {
    color: darkslategray;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid darkslategray;
}
/* pseudo-class */

#main-content {
    /*  background-color: lightgreen; */
    background-color: lightgreen;
}
.vertical-masonry-gallery {
    columns: 3 auto;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: yellow;
    width: 100%;
    max-width: 5000px;
    margin-left: auto;
    margin-right: auto;
}

/*
    Page layout setup
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
#centered-hero {
    background-image: url("../images/Tea\ \(7\)_L3.jpg");
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    color: white;
    text-align: center;
}
#nav {
    background-color: black;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

#nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

#single-column-layout {
    margin: 48px auto;
}

#single-column-layout h1 {
    text-align: center;
}

#basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#basic-grid-gallery img {
    width: 100%;
}
/* tablet breakpoint */
@media screen and (max-width: 640px) {

    #single-column-layout h1 {
        font-size: 44px;
    }
    #basic-grid-gallery {
        grid-template-columns: 1fr;
    }
    .vertical-masonry-gallery {
        columns: 2 auto;
    }
}

/* breakpoint */
@media screen and (max-width: 450px) {
    body {
        background-color: firebrick;
    }
    #nav {
        flex-direction: column;
        align-items: center; 
    }
    .vertical-masonry-gallery {
        columns: 1 auto;
    }
}