* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.blog-posts {
    background-color: yellow;
    width: 70%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.playstation {
    margin-left: auto;
    margin-right: auto;
}