* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.button {
    text-decoration: none;
    color:black;
    display: inline-block
}

.simple{
    border-radius: 8px;
    padding: 8px;
    margin: 40px;
    background-color: pink;
}
.single-column{
    background: palevioletred;
    color: white;
    padding: 24px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}
.border{
    color: pink;
    border: 3px solid pink;
    padding: 40px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 40px;
}

