* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    text-align: center;
    padding: 24px;
    background-color: yellow;

}
#navbar a {
    color: black;
    text-decoration: none;
    padding: 24px;
}
p a {
    color: teal;
}

p.warning{
    background-color:darkcyan
}
a.warning{
    color:aqua
}