* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#nav {
    background-color: black;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

#nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

/* breakpoint */
@media screen and (max-width: 450px) {
    body {
        background-color: firebrick;
    }
    #nav {
       flex-direction: column;
       align-items: center; 
    }
}
#single-column-layout {
    margin: 48px auto;
}

#single-column-layout h1 {
    text-align: center;
}

#basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#basic-grid-gallery img {
    width: 100%;
}
/* tablet breakpoint */
@media screen and (max-width: 640px) {
    /* body {
        background-color: skyblue;
    } */

    #single-column-layout h1 {
        font-size: 44px;
    }
    #basic-grid-gallery {
        grid-template-columns: 1fr;
    }
}

/* mobile breakpoint */
@media screen and (max-width: 450px) {
    /* body {
        background-color: firebrick;
    } */

    #nav {
        flex-direction: column;
        align-items: center;
    }

    #single-column-layout h1 {
        font-size: 32px;
    }
}