* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: lightgreen;
    padding: 48px 24px;
}
.dark-container {
    background-color: rgb(30, 0, 30);
    padding: 48px 24px;
    color: white;
}
.color-container{
    background-color: orangered;
    padding: 48px 24px;
    color: white;
}