* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(135deg,
     orangered, orangered 
     );
     display: flex;
     justify-content: space-around; 
     align-items: center;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar img {
    width: 40px;
}

#navbar #logo-container {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: white;
    color: orange;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;  
}
