* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

.side-by-side-container .image-container,
.side-by-side-container .text-container {
    flex: 1;
}

.side-by-side-container .text-container {

}
.side-by-side-container .image-container img {
    width: 100%;
}

.side-by-side-container h2 {
    font-size: 60px;
}

@media screen and (max-width: 580px)  {
    .side-by-side-container h2 {
        font-size: 24px;
    }

    .side-by-side-container {
        flex-direction: column;
        align-items: stretch;
    }
    
    .side-by-side-container .image-container img {
        max-height: 250px;
        object-fit: cover;
    }
}

.border {
    display: inline-block;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}
.side-by-side-container .image-container,
.side-by-side-container .image-container {
    flex: 1;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin-left: auto;
    margin: 0px auto;
}

.card {
    border: 5px solid black;
    margin: 36px 0px;
    padding: 36px;
    text-align: center;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;

}

#card-container {
    display: flex;
}

.card {
    border: 5px solid black;
    margin: 36px 0px;
    padding: 36px;
    text-align: center;
}
#section-1 {
    display: inline-block;
    text-align: center;
}
.button-1 {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}