* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color:aqua;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}