* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#centered-hero {
    background-image: url(../images/Sculptures\ and\ Vases.jpg);
    background-size: contain;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.single-column {
    background-color:aqua;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-decoration: none;
    color:black;
    display: inline-block;
}

.simple {
    border: 1px solid green;
    border-radius: 8px;
    padding: 8px;
    margin: 24px;
    background-color: white;
}
.background {
    background: darkgreen;
    color: white;
    padding: 24px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.border {
    color:purple;
    border: 3px solid purple;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}

.same {
    min-width: 300px;
    text-align: center;
}

.wide {
    display: block;
    text-align: center;
}
.button {
    text-decoration: none;
    color:black;
    display: inline-block;
}

.simple {
    border: 1px solid green;
    border-radius: 8px;
    padding: 8px;
    margin: 24px;
    background-color: white;
}
.background {
    background: darkgreen;
    color: white;
    padding: 24px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.border {
    color: purple;
    border: 3px solid purple;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.same {
    min-width: 300px;
    text-align: center;
}

.wide {
    display: block;
    text-align: center;
}