@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: orange;
    padding: 100px 100px;
    color: black;
}
.dark-container {
    background-color: lightgray;
    padding: 100px 100px;
    color: black;
}
.color-container {
    background-color: darkblue;
    padding: 100px 100px;
    color: white;
}

#phone-1 {
    text-align: center;
}
.button-border-background-1 {
    text-decoration: none;
    display: inline-block;
    background: white;
    color: orange;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}
#phone-2 {
    text-align: center;
}
.button-border-background-2 {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: white;
    color: darkgray;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}
#phone-3 {
    text-align: center;
}
.button-border-background-3 {
    text-decoration: none;
    display: inline-block;
    background: white;
    color: darkblue;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}