* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#p-1 {
background-color: red;    
}

#p-2 {
background-color: green;
}

#p-3 {
background-color: yellow 
}

#span-1 {
    background-color: blue;
    }
    #span-2{
    background-color: yellow;
    }
    #span-3{
    background-color: lightcyan;
    }
    #span-4{
        background-color:white
        }
    #span-5{
        background-color: tan;
    }
    #span-6{
        background-color: mediumspringgreen;
    }
    #span-7{
        background-color: purple;
    }