* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

span {
    background-color: yellow;
    display: block;
}
div {
    background-color: aquamarine;
    display: inline-block;
    width: 200px;
    margin: 12px;
    padding: 12px;
}
p{
    background-color: burlywood;
}
#media-and-text-{
    background-color: transparent;
    display: block;
    width: auto;
}
#three-columns{
    background-color: skyblue;
    display: block;
    width: auto;
}
#media{
    width: 150px;
    object-fit: cover; 
}
#text{
    background-color: transparent;
    width: 150px;
    display: inline-block;

}
#text{
    background-color: transparent;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin: 24px;
    font-size: 48px;
}
.column{

}