* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.vertical-masonry-gallery {
    columns: 3 auto;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: yellow;
    width: 100%;
    max-width: 5000px;
    margin-left: auto;
    margin-right: auto;
}

/*
    Page layout setup
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
