* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.color-palette{
    box-shadow: 6px 6px 12px; 
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.color{
margin: 0px;
padding: 24px;
}

#color-1 {  
    background-color: #72A1E5;
}

#color-2{
    background-color: #50C9CE;
}
#color-3{
    background-color: #9883E5;
}
#color-4{
    background-color: #FCD3DE;
}
#color-5{
    background-color: #2E382E;
    color:#EAF2EF;
}
.color-palette{
    box-shadow: 6px 6px 12px; 
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.color{
margin: 0px;
padding: 24px;
}

#color-6 {  
    background-color: #EAF2EF;
}

#color-7{
    background-color: #912F56;
    color:#EAF2EF;
}   
#color-8{
    background-color: #521945;
    color:#EAF2EF;
}
#color-9{
    background-color: #361F27;
    color:#EAF2EF;
}
#color-10{
    background-color: #0D090A;
    color:#EAF2EF
}
#color-11 {  
    background-color: #5B5B5B;
    color:#EAF2EF
}

#color-12{
    background-color: #7D7C7A;
    color:#EAF2EF
}   
#color-13{
    background-color: #C9C19F;
}
#color-14{
    background-color: #EDF7D2;
}
#color-15{
    background-color: #EDF785;
}