* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
    margin: 36px auto;
}
#main-content {
    background-color: skyblue;
    flex: 1;
}
#sidebar-content {
   /* background-color: lightblue; */
   /* flex: 1; */
    width: 200px;
    order: 2;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: darkblue;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 16px;
}

#sidebar-content ul{
    background-color: #efefef;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid darkblue;
    flex: 1;
}

#sidebar-content a {
    color: darkblue;
}

#sidebar-content li{
    padding: 8px 0px;
    border-bottom: 1px solid darkblue;
}
/* pseudo-class */


#main-content {
  /*  background-color: lightgreen; */
  background-color: rgb(220, 220, 220);
  color: darkblue
}